
//- see 'portfolioData' in data.jade

.container
	each item in portfolioData
		.item
			.overlay
				p #{item.itemTitle}
				button(data-outlet="#{item.outlet}") take a look
			img(src="#{item.src}", alt="#{item.itemTitle}", title="#{item.itemTitle}")