
//- see 'portfolioData' in data.jade

each modal in portfolioData
	.modal(id="#{modal.outlet}")
		.modal-window
			.header
				p #{modal.modalTitle}
				button.modal-close back
			.image
				img(src="#{modal.src}", alt="#{modal.modalTitle}")
			.article
				p #{modal.article}